<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <targets>
    <target name="file"
            xsi:type="File"
            fileName="C:\Microsoft OneDrive\Proyectos\Empresas Agrotop\Desarrollos\Agrotop.AgroFichas.API\Agrotop.ProcesadorOrdenDeCompra\App_Data\LogFiles\${date:yyyyMMdd}.log"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            keepFileOpen="false"
            />
  </targets>
  <rules>
    <logger name="fileLogger" writeTo="file" levels="Debug,Error,Fatal,Info,Trace,Warn" />
  </rules>
</nlog>