@using AgroFichasWeb.Models
@using AgroFichasWeb.ViewModels

@model Liquidacion
@{

    ViewBag.NombreSeccion = "Documento de Agricultor " + Model.Temporada.Nombre;
    ViewBag.Title = "El documento de agricultor ha sido guardado con éxito";
}


<h2>@ViewBag.Title</h2>

<fieldset class="dataForm">
    @Html.Partial("Liquidacion", Model)
</fieldset>
