*.DS_Store
*.psess
*.suo
*.user
*.vspx
.vs/
.vs/AgroFichasWeb/v15/sqlite3/storage.ide
/.vs/config
/AgroFichasApi/App_Data/notifications
/AgroFichasApi/App_Data/sqlite/syncs
/AgroFichasApi/App_Data/sqlite/uploads
/AgroFichasWeb/App_Data/ICPC
/AgroFichasWeb/App_Data/liquidaciones/
/AgroFichasWeb/App_Data/notifications/errors/7c39ffff-1c20-4631-9dea-88ce2fdf74ea.txt
/AgroFichasWeb/App_Data/notifications/errors/b874a1e5-d8ec-48e6-931a-634ec8045191.txt
/AgroFichasWeb/App_Data/notifications/errors/ed6f6e68-b822-4370-ba35-33b03a010139.txt
/AgroFichasWeb/App_Data/notifications/nf_agricultor_18_20170801043714.xml
/AgroFichasWeb/App_Data/notifications/nf_agricultor_18_20170801044004.xml
/AgroFichasWeb/App_Data/notifications/nf_agricultor_19_20170801044851.xml
/AgroFichasWeb/App_Data/notifications/nf_agricultor_20_20170801050839.xml
/AgroFichasWeb/App_Data/notifications/nf_agricultor_5866_20170802012306.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_16_20170801043005.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_17_20170801043231.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_18_20170801043415.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_19_20170801044748.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_20_20170801050752.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_21_20170804070258.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_22_20170804070722.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_5864_20170802125901.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_5865_20170802125943.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_5866_20170802012237.xml
/AgroFichasWeb/App_Data/notifications/nf_creator_5867_20170804070824.xml
/AgroFichasWeb/App_Data/pdfs
/AgroFichasWeb/App_Data/uploads
/AgroFichasWeb/App_Data/wkhtmltopdf/
/AgroFichasWeb/Documents/
/AgroFichasWeb/liquidaciones/
/AgroFichasWeb/uploads/
/AgroFichasWeb/vouchers/
/AgroFichasWeb/vouchers/
/ForceManagerSync/AppData/logs/
/ForceManagerSync/AppData/pdf/
/UpgradeLog.htm
AgroFichasApi/Content/Fotos/
AgroFichasWeb/App_Data/ocs/
Agrotop.ProcesadorOrdenDeCompra/App_Data/LogFiles/
bin
obj
UpgradeLog2.htm
UpgradeLog3.htm

# MSI
AgroFichasWeb/App_Data/TrazaTop/plantillascontratos/
AgroFichasWeb/App_Data/TrazaTop.rar
Agrotop.Form.rar
ForceManagerSync/AppData/ForceManagerData/
/AgrotopApi/Models/RequestAllowedSites.cs.orig
/AgroFichasWeb/Models/AgroFichasDB.dbml.layout.orig
/AgroFichasWeb/Models/AgroFichasDB.dbml.orig
