@using AgroFichasWeb.Models
@using AgroFichasWeb.Models.SoftwareCalidad
@model CALIdentificacionPale
@{
    ViewBag.Title = "Identificación de Pallets";
    ViewBag.SubTitle = "Identificación de Pallet";
    Layout = "~/Views/Shared/_ResponsiveLayoutVertical.cshtml";
}
@section VendorCSS
{
}
@section VendorScripts
{
}
@section CustomScripts
{
    <script>
        $(document).ready(function () {
            if ($(".field-validation-error").html() != "") {
                $(".field-validation-error").show();
            }
        });
    </script>
}

<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">@ViewBag.SubTitle</h2>
    </header>
    @using (Html.BeginForm())
    {
        <div class="panel-body">
            <div class="form-horizontal form-bordered">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">QR-Code <span class="required">*</span></label>
                            <div class="col-sm-6">
                                @Html.TextBox("QRCode", Model.QRCode, new { @class = "form-control", maxlength = "50", @autofocus = "autofocus" })
                                @Html.ValidationMessage("QRCode")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-lg-12 center">
                    <input type="submit" class="btn btn-primary" value="Buscar Pallet por QR-Code" />
                </div>
            </div>
        </footer>
    }
</section>
<!-- end: page -->