<ul>
    @if (AgroFichasWeb.Models.SYS_User.Current().HasPermiso(113))
    {
        <li><a href="@Url.Content("~/requerimientos/crear")">Crear Requerimiento</a></li>
    }
    @if (AgroFichasWeb.Models.SYS_User.Current().HasPermiso(112))
    {
        <li><a href="@Url.Content("~/requerimientos")">Ver Requerimientos</a></li>
    }
    @if (AgroFichasWeb.Models.SYS_User.Current().HasPermiso(120))
    {
        <li><a href="@Url.Content("~/camiones/asignacioncamiones")">Asignación de Camiones</a></li>
    }
</ul>