<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Agrotop.ReporteControlPlanta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Agrotop.ReporteControlPlanta.Properties.Settings.agrofichas_produccionConnectionString"
      connectionString="Data Source=RONALD;Initial Catalog=agrofichas_produccion;Persist Security Info=True;User ID=sa;Password=thekof"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <Agrotop.ReporteControlPlanta.Properties.Settings>
      <setting name="AppData" serializeAs="String">
        <value>D:\Proyectos\agrotop.agrofichas.api\Agrotop.ReporteControlPlanta\App_Data</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>D:\Proyectos\agrotop.agrofichas.api\Agrotop.ReporteControlPlanta\App_Data\LogFolder</value>
      </setting>
    </Agrotop.ReporteControlPlanta.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAVEAHJMTCNSGNX472" password="BHKqcUGCLFjeTVybzu3ZtynTPDwIPI+ywzA3Bis5fHL6" />
        <specifiedPickupDirectory pickupDirectoryLocation="D:\Proyectos\mailroot" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>