<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgroFichasLib.Properties.Settings.agrofichasConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=agrofichas;Persist Security Info=True;User ID=SA;Password=saprosem"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>