<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarteraAsesorAgricola.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CarteraAsesorAgricola.Properties.Settings.agrofichasConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=agrofichas;Persist Security Info=True;User ID=sa;Password=saprosem"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <CarteraAsesorAgricola.Properties.Settings>
            <setting name="App_Data" serializeAs="String">
                <value>C:\Microsoft OneDrive\Proyectos\Empresas Agrotop\Desarrollos\Agrotop.AgroFichas.API\CarteraAsesorAgricola\App_Data</value>
            </setting>
        </CarteraAsesorAgricola.Properties.Settings>
    </applicationSettings>
</configuration>