@model Agrotop.Extranet.Models.PasswordResetRequest
@{
    ViewBag.Title = "Crear o Recuperar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <div class="titulo1">Crear o Recuperar Contraseña</div>

    <h2>Contraseña Reestablecida</h2>
    <p>Felicitaciones, ha reestablecido su contraseña con éxito. Por favor, @Html.ActionLink("inicie sesión", "login") para acceder a su cuenta.</p><p>&nbsp;</p><p>&nbsp;</p>