<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ForceManagerSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ForceManagerSync.Properties.Settings.agrofichasConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=agrofichas;Persist Security Info=True;User ID=sa;Password=saprosem"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <applicationSettings>
    <ForceManagerSync.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value>615796b5efc06991f98b85dea16d280650f5d1</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>b1d6cca7e5382de3737353c8c3ead78e67d2f6eedc19e6036741cd5289945bec52a5f11b4f7e2bb</value>
      </setting>
      <setting name="AppData" serializeAs="String">
        <value>D:\Proyectos\Codes\Agrotop.AgroFichas.API\ForceManagerSync\AppData</value>
      </setting>
    </ForceManagerSync.Properties.Settings>
  </applicationSettings>
</configuration>
